body{
    padding:0;
    margin:0;
    height:1500px;
    background: rgb(60, 92, 197);
}

.blueBox{
    background: hsl(226,53%,50%);
    position: fixed;
    height: 300px;
    width: 400px;
    z-index: +3;
    margin-left: 73vw;
    margin-bottom: 95vh vh;
}

canvas{
    position: fixed;
    top:0px;
    left:0px;
}

.legend-text{
    color:white;
    position: fixed;
    margin-left: 80.2vw;
    margin-top: 24.4vh;
    font-family: "Major Mono Display";
    font-weight:bold;
    z-index:+5;
    font-size: small;
}


.sidescroll{
    color:white;
    position: absolute;
    z-index: +2;
    margin-left: 75vw;
    margin-top: 128vh;
    padding-right: 72px;
    text-align: justify;
    font-family: "Major Mono Display";
    font-size: 12px;
    /* I know it's full of rivers but I coulnd't figure out how to adjust the kerning
    and hated how it looked without being justified lol*/
}


.main-header{
    font-size: 50pt;
    font-family: 'Major Mono Display', monospace;
    color:white;
    margin-top: 10pt;
    padding-left: 70%;
    margin-right: 50pt;
    line-break: strict;
    position: fixed;
    text-align: right;
    z-index: +4;
}

.turbine_1{
    max-height: 200px;
    position: fixed;
    top: 46.5%;
    left: 42.8%;
    transform: translate(-50%, -50%);
    z-index: +1;
}

.background{
    width:100vw;
    height:100vh;
}

